**/.DS_Store

Animation/.vscode/
Animation/bin/
Animation/obj/

City/.vscode/
City/bin/
City/obj/

FastProfile/.vscode/
FastProfile/bin/
FastProfile/obj/

RouteSearch/.vscode/
RouteSearch/bin/
RouteSearch/obj/

Symulation/.vscode/
Symulation/bin/
Symulation/obj/

TrafficMenagement/.vscode/
TrafficMenagement/bin/
TrafficMenagement/obj/

Transport/.vscode/
Transport/bin/
Transport/obj/